
/* Comencem resetejant els valors del navegador */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.substitul {
  font-family: sans-serif;
  position: absolute;
  bottom: 240px;
  text-align: center;
  font-size: 35px;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

section h1 {
  text-align: center;
  font-size: 64px;
  font-family: sans-serif;
}

.no-parallax1 {
  background-image: url(https://images6.alphacoders.com/130/1301339.jpg);
  z-index: 20;
}
.no-parallax2{
  background-color: rgb(6, 6, 144);
  z-index: 20;
}

.parallax h1 {
  height: 60%;
  font-size: 2rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(http://drive.google.com/uc?export=view&id=1kM5EXYfQzkN2vSRTTur7Ak8XQ43SXgxd);
  background-size: cover;
}

/* A partir d'aquí és el codi per al menú fixat a la part superior */
header {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; /*valor alt per donar preferencia*/
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}


nav h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 30px;
}

nav li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 19px;
  text-transform: uppercase; /*posar text en maj*/
}

nav li a:hover {
  color: rgb(0, 221, 81);
}

/*TAULA*/
.taula-contenidor {
  display: grid;
  justify-items: center;
}

.taula-titol {
  font-size: 50px;
  font-weight: bold;
  margin: 32px;
}

.taula {
  background-color: rgb(255, 255, 255);
  max-width: 1000px;
  padding: 5rem;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: rgb(226, 165, 0);
}

th {
  background-color: rgb(158, 0, 220);
  color: white;
}




